<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join Game</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.css" rel="stylesheet">
    <script src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/js-cookie/js.cookie.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="join1" >

        <div class="row align-items-center">
            <div class="col-sm-3 col-xs-2"></div>
            <div class="col-sm-6 col-xs-8  align-self-center">
                <div class="contiainer">
                	<img th:src="@{/images/HeaderPhoto.png}" class="responsive"/>
                    <h1 class="title">Enter a username and room ID</h1>
                    <form id="usernameForm" name="usernameForm">
                        <div class="form-group">
                            <input type="text" id="name"  class="form-control"  placeholder="Username"  required/>

                        </div>
                        <div class="form-group">
                            <input type="text" id="room-id" class="form-control"    placeholder="Room ID" required />

                        </div>
                        <div class="form-group">
                            <button type="submit" id="join" class="button">Join</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-xs-2"></div>
        </div>

</div>
<div id="join2" class="hidden" >
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-8 ">
            <div class="card-my ">

                <div class="container-chat  ">
                    <div class="chat-header">
                    	<img th:src="@{/images/HeaderPhoto.png}" class="responsive"/>
                    </div>

					<section class="memory-game">
					  	<div id="memory-game"></div>
					  </section>

                        <div class="form-group" id="role">
                            <button type="submit" id="PLAYER1" class="primary inline">Player 1</button>
                            <button type="submit" id="PLAYER2" class="primary inline">Player 2</button>
                            <button type="submit" id="FINAL-GUESS" class="primary inline hidden">Final Guess</button>
                            <button type="submit" id="PLAY-AGAIN" class="primary inline hidden">Play Again</button> 
                            <button type="submit" id="CREATE-AGAIN" class="secondary inline hidden">Create New Game</button>
	                        <button type="submit" id="JOIN-AGAIN" class="secondary inline hidden">Join New Game</button>                         
                        </div>


                </div>
            </div>
        </div>
        
		
		<div class="col-md-4">
            <div class="card-my">
                <div class="container-chat ">
                    <div class="chat-header">
                        <h2>Mystery Card</h2>             
					</div>
					
					<div id="chosenCard">

					</div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card-my">
                <div class="container-chat ">
                    <div class="chat-header">
                        <h2>Room: <span id="room-id-display"></span></h2>
                    </div>
                    <div class="connecting">
                        Connecting...
                    </div>
                    <ul id="messageArea">

                    </ul>
                    <form id="messageForm" name="messageForm" nameForm="messageForm">
                        <div class="form-group">
                            <div class="input-group clearfix">
                                <input type="text" id="message" placeholder="Type a message..."
                                       autocomplete="off" class="form-control"/>
                                <button type="submit" id="send" class="primary inline">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>